// ref: https://firebase.google.com/docs/firestore/security/rules-structure
// rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
  }
}

// leads: read, write: if logged in && not archivedBy anyone else && lead.geo === user.geo
// leads: archived: read: if lead.archivedBy === user.uid
// contacts: read, write: if contact.createdBy === user.uid
// users: read, write: if uid === user.uid